.App {
    text-align: center;
    font-size: 35px;
    margin: 0 auto;
    margin-top: 20%;
    background-color : rgba(255,255,255, .3) ;
}
.App-title {
    font-size: 50px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds  {
    display: inline;
}

.Deadline-input { 
    font-size: 25px;
    margin: 5px;
}